name: main
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
jobs:
  build:
    if: github.event.repository.fork == false
    runs-on: [self-hosted, builder]
    permissions:
      contents: read
    strategy:
      matrix:
        machine:
          - qemux86-64
          - raspberrypi5
        variant:
          - base
          - full
          - alt
    steps:
      - uses: actions/checkout@v6
      - uses: rlespinasse/github-slug-action@9e7def61550737ba68c62d34a32dd31792e3f429 #v5.5.0
      - uses: moonforgelinux/build-moonforge-action@990696f671bd414f4396d41db9c9fc35040f8a14 #v0.1.1
        with:
          kas_file: kas/examples/moonforge-image-${{ matrix.variant }}-${{ matrix.machine }}.yml:kas/common/debug.yml
          dl_dir: ${{ vars.DL_DIR }}
          sstate_dir: ${{ vars.SSTATE_DIR }}
          image_id: ${{ matrix.variant }}-${{ matrix.machine }}-${{ env.GITHUB_REF_NAME_SLUG }}
          image_version: ${{ github.run_id }}
      - uses: moonforgelinux/upload-moonforge-action@d81e5795bf561735e2331b3d7705884f170dfff9 #v0.2.1
        if: >
           github.event_name == 'push' || (
           github.event_name == 'pull_request' &&
           github.event.pull_request.head.repo.fork == false )
        with:
          host_base: ${{ secrets.S3_HOST_BASE }}
          access_key: ${{ secrets.S3_ACCESS_KEY }}
          secret_key: ${{ secrets.S3_SECRET_KEY }}
          bucket: ${{ secrets.S3_BUCKET }}
          source: build/tmp/deploy/images/${{ matrix.machine }}
          destination: meta-moonforge/${{ github.ref }}/${{ github.run_id }}/${{ matrix.variant }}/
          exclude: '*'
          include: '*.wic.*'

  publish:
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.head.repo.fork == false
    runs-on: [self-hosted, builder]
    needs: build
    permissions:
      pull-requests: write
    steps:
      - uses: mshick/add-pr-comment@ffd016c7e151d97d69d21a843022fd4cd5b96fe5 #v3.9.0
        with:
          message-id: ${{ github.run_id }}
          message-success: |
            Successfully built [${{ github.run_id }}](${{ vars.S3_PUBLIC_URL }}/meta-moonforge/${{ github.ref }}/${{ github.run_id }}/) :rocket:
